<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web Audio</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Web audio</h1>
      </header>
      <main>
        <audio id="myAudio"></audio>
      </main>
      <footer>

      </footer>
    </div>
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- inject:js -->
    <script src="/js/index.js"></script>
    <!-- endinject -->
  </body>
</html>
